<header class="site_header">
		<div class="wrap long">
			<div class="bottom_bar">

				<div class="left">
        					<div class="logo">
						<a title="Gabriel Jones Reads" href="/">Gabriel Jones Reads</a>
					</div>
					<div class="strapline">
						Mi piace leggere - nulla da aggiungere					</div>
				</div>
				<div class="right">
					<a title="Click here for fun!" href="/about/gabriel/"><img alt="Click here for fun!" src="/bau.png"></a>
				</div>
			</div>
		</div>
	</header>


















<nav class="main_nav">
		<div class="wrap long">
			<ul id="menu-main-menu" class="menu"><li id="menu-item-40" class="menu_home menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-16 current_page_item menu-item-40"><a href="{{ site.url }}/" aria-current="page">Home</a></li>
<li id="menu-item-41" class="menu_about menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="{{ site.url }}/about/">About</a></li>
<li id="menu-item-36" class="menu_books menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-36"><a href="{{ site.url }}/books">Books</a>
<ul class="sub-menu">
	<li id="menu-item-264" class="menu-item menu-item-type-taxonomy menu-item-object-series-name menu-item-264"><a href="{{ site.url }}/OPAC/">La mia libreria</a></li>
	<li id="menu-item-263" class="menu-item menu-item-type-taxonomy menu-item-object-series-name menu-item-263"><a href="{{ site.url }}/OPAC/libriconsigliati/">Libri Consigliati</a></li>
</ul>
</li>
<li id="menu-item-37" class="menu_shop menu-item menu-item-type-post_type menu-item-object-page menu-item-37"></li>
<li id="menu-item-38" class="menu_free menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="{{ site.url }}/clubdellibro/">Club del Libro</a></li>
<li id="menu-item-39" class="menu_school menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="{{ site.url }}/imangialibri/">I Mangia Libri</a></li>
<li id="menu-item-42" class="menu_news menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="{{ site.url }}/opac/">Libreria</a></li>
<li id="menu-item-43" class="menu_contact menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a href="{{ site.url }}/contact">Contattami</a></li>
</ul>		</div>
	</nav>
